# Database and config files
*.db
config.json

# Cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# IDE settings, should cover Pycharm and VSCode, add others if needed
.idea/
.vscode/